
body{

}

.container{
position: relative; 
width: 300px;
}

.outer{
display: flex;
background-color: red;
height: 300px;
width: 300px;
}

.inner{
margin: auto;
background-color: yellow;
height: 100px;
width: 100px;
}
	
.top{
  position: absolute;
  top: 10px;
  right: 10px;
}
