
.beer{
	background-image: url("beer.jpg");
	height: 100px;
	width: 100px;
    background-size: 100px 100px;
}

.store1 li img {
  border: 2px solid black;
  height: 150px;
  width: 150px;
}


.store2 li{
  overflow: hidden;
  border: 2px solid black;
  height: 150px;
  width: 150px;
}
/*
.store2 li img {
  height: 150px;
  width: auto;
}
*/
.logo {
	background: url("beer.jpg");
	display:block;
	height:100px;
	width:100px;
	text-indent: -9999px;
}

.logo:hover, .logo:focus{
  background-position: 0px -100px
}
